node_modules
*aiff
.env
.DS_Store
StreamSage/__pycache__/audio_utils.cpython-310.pyc
./StreamSage/__pycache__/*
./StreamSage/*.wav
StreamSage/*.webm
package-lock.json
**/*.webm
**/*.pyc/
StreamSage/__pycache__/*
*wav
package-lock.json
src/*.code-workspace
